* {
    font-family: 'Varela Round', sans-serif;
}

.navbar-brand {
    line-height: .75;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.navbar-default .container-fluid .navbar-header .navbar-brand {
    color: #000000;
    text-shadow: 1.8px 1.8px 1.8px #222;
}

.navbar-nav li>a {
    text-align: center;
}

.jumbotron>p {
    font-size: 18px;
}

h2 {
    padding: 30px;
    font-family: 'Varela Round', sans-serif;
}

h3 {
    position: relative;
    bottom: 20px;
}

@media (max-width: 767px) {
    .row .container .jumbotron {
        margin: 0px 40px 0px 40px;
    }
}

@media (max-width:767px) {
    .row .container .jumbotron p {
        font-size: 16px;
    }
}
